/* ===============================
 * Responsive Breakpoints
 * =============================== */
$lg: 1200px;
$md: 992px;
$sm: 768px;
$xs: 480px;

/* ===============================
 * Colours
 * =============================== */
$alt: #F60;